*.DS_Store
/data/shapefiles/
/data/processed/
/data/cache/*
!/data/cache/checkpoints/
!/data/cache/pageviews/
!/data/cache/thumbnails/
!/data/cache/commons/
!/data/cache/inaturalist/
!/data/cache/wikidata/
/data/secrets/
animals-spatial.geojson
__pycache__/
*.pyc
